body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  margin: 0 auto;
  max-width: 1000px;
}

.app-add-form {
  margin-top: 30px;
  padding: 25px;
  background-color: #161131;
  border-radius: 10px;
  box-shadow: 15px 15px 30px rgba(0,0,0,0.15);
  color: #ffffff;
}

.add-form {
  margin-top: 20px;
  display: flex;
}

.add-form input {
  width: 40%;
  height: 50px;
  margin-right: 20px;
  padding: 0 10px;
  border-radius: 4px;
  font-size: 20px;
}

.btn {
  width: 10%;
  margin-right: 20px;
  font-size: 20px;
  color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 4px;
  background-color: #161131;
  cursor: pointer;
  transition: all 0.3s;
}

.btn:hover {
  opacity: 0.8;
}

.btn:active {
  transform: translateY(4px)
}

.list {
  padding: 30px;
}

.list-group-item {
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 20px;
  color: #161131;
  background-color: #ffffff;
  border-radius: 4px;
}

.list-group-item:last-child {
  margin-bottom: 0px;
}

.list-group-item-label {
  line-height: 35px;
  font-size: 20px;
  cursor: pointer;
  min-width: 550px;
}

.list-group-item-input {
  line-height: 35px;
  font-size: 20px;
  text-align: center;
  border: 0;
}

.list-group-item button {
  width: 35px;
  height: 35px;
  margin: 3px;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.list-group-item .fa-pencil {
  color: #e09f3e;
}

.list-group-item .fa-xmark {
  color: #e5383b;
}

.list {
  margin-top: 15px;
  background-color: #161131;
  border-radius: 10px;
  box-shadow: 15px 15px 30px rgba(0,0,0, 0.15);
  color: #ffffff;
}

.btn-group {
  display: flex;
  justify-content: space-between;
  align-items: top;
}

.btn-sm {
  width: 50px;
  height: 50px;
  background-color: #161131;
  border-radius: 4px;
  transition: all 0.3s;
}

.btn:hover,
.btn-sm:hover {
  opacity: 0.8;
}

.btn:active,
.btn-sm:active {
  transform: translateY(4px)
}

.btn__img-change {
  font-size: 24px;
  color:#e09f3e;
}

.btn__img-del {
  font-size: 26px;
  color: #ff3300ee;
}

.info {
  font-size: 20px;
  text-align: center;
}

.search-panel {
  margin-top: 30px;
  padding: 25px;
  background-color: #161131;
  border-radius: 4px;
  box-shadow: 15px 15px 30px rgba(0,0,0,0.15);
  color: #ffffff;
}

.search-input {
  width: 95%;
  height: 50px;
  padding: 0 10px;
  border-radius: 4px;
  font-size: 20px;
}

